
/* ////////SECTION FOR EDUCATION WEBSITE REDESIGN///////// */

.parallaxedu1 {
    /* The image used */
    background-image: url("../images_edu/systemic-evaluation.jpg");
  
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .customNav {
    margin-left: auto;
  }
  
#whyedu_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: white; */
    color: darkslategrey;
    font-weight: 600;
    font-size: 25px;
  }

  #analysisimage {
    display: flex;
    margin: auto 25px;
    margin-left: 140px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #whyedutext {
      padding: 20px 140px;
  }

  .parallaxedu2 {
    /* The image used */
    background-image: url("../images_edu/old\ web.png");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
  }

  #checkoldedu {
      text-align: center;
      color: rgb(11, 87, 55);
  }

  img#arrow_down {
    margin: 0 auto;
    display: inherit;
  }

  .edu-user {
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
  }

  #edu-user_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: white; */
    color: darkslategrey;
    font-weight: 600;
    font-size: 25px;
  }


  #usertext {
    /* padding: 20px 140px; */
    text-align: center;
  }

  #edu-user-text {
      padding: 20px 140px;
  }

  #user_image {
    max-width: 900px;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
  }


  #task_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: white; */
    color: darkslategrey;
    font-weight: 600;
    font-size: 25px;
  }
  
  #task-text {
    padding: 20px 140px;
}

#task_list{
    text-align: left;
    font-family: 'Muli', sans-serif;
    margin-right: 200px;
    padding-left: 200px !important;
}
  
  .parallaxedu3 {
    /* The image used */
    background-image: url(../images_edu/test.jpg);
  
    /* Set a specific height */
    min-height: 300px; 
   
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
  }


  .heuru{
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
  }

  #heuru_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: white; */
    color: darkslategrey;
    font-weight: 600;
    font-size: 25px;
  }


  #heurutext {
      padding: 20px 200px;
  }

  #heuru-image {
    /* vertical-align: middle;
    border-style: none;
    max-width: 900px;
    margin: 0 150px; */
    max-width: 900px;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
  }
/* 
  max-width: 900px;
  padding: 10px 20px;
  margin: 0 auto;
  display: block; */

  #list_analysis {
    text-align: left;
    font-family: 'Muli', sans-serif;
    margin-right: 200px;
    padding-left: 200px !important;
  }



  #circles_image {
      padding: 10px 20px;
      max-width: 800px;
      margin: 0 auto;
      display: block;
  }

  #ia-section{
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
    background-color: rgb(7, 7, 61) !important;
    padding-top: 20px;
  }

  #ia_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(7, 7, 61) !important;
    color: rgb(233, 241, 241) !important;
    font-weight: 600;
    font-size: 25px;
  }


  #iatext {
      padding: 20px 200px;
      color: whitesmoke;
  }

  /* .parallaxedu4 { */
    /* The image used */
    /* background-image: url(../images_edu/nav-cards.png); */
  
    /* Set a specific height */
    /* min-height: 500px;  */
   
  
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
  /* } */

  #sitemap {
      background-color: rgb(7, 7, 61) !important;
  }

  .sitemap-image {
      /* max-width: 900px; */
      width: 156vh;
            padding: 10px 30px;
            margin: 0 auto;
            display: block;
  }

  #sitemap_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(7, 7, 61) !important;
    color: rgb(233, 241, 241) !important;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
  }

  img#newnav-image {
    /* width: 100%; */
    margin: 0 auto !important;
    display: block !important;
    width: 150vh !important;
}

  #styletile{
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
    background-color: rgb(7, 7, 61) !important;
    padding-top: 20px;
  }

  #styletile_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(7, 7, 61) !important;
    color: rgb(233, 241, 241) !important;
    font-weight: 600;
    font-size: 25px;
  }


  #styletext {
      padding: 20px 200px;
      color: whitesmoke;
  }

  #greenText {
      color: green;
  }

  #blueText {
    color: rgb(32, 170, 224);
}

#opensansText {
    font-family: 'Open Sans', sans-serif;
    color: rgb(206, 174, 228);
}

#blue-green {
    padding: 0 250px;
    color: whitesmoke;
}
/* 
.parallaxedu5 { */
    /* The image used */
    /* background-image: url(../images_edu/styletile.png); */
  
    /* Set a specific height */
    /* min-height: 800px;  */
  
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */


  #sketch{
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
  }

  #sketch_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: white; */
    color: darkslategrey;
    font-weight: 600;
    font-size: 25px;
  }

#styleee-image {
  width: 160vh;
  margin: 0 auto;
  display: block;
}

#guidestyle {
  background-color: white;
}
  /* #sketchtext {
      padding: 20px 200px;
      width: 30%;

  }

  #sketch-image {
    vertical-align: middle;
    border-style: none;
    width: 50%;
  }

  #parent-sketch {
      display: 
  } */

  .clearfix {
    overflow: auto;
    padding: 20px 140px;
  }
  
  #sketch-image {
    float: right;
    width: 40%;
    padding: 20px auto;
    padding-left: 80px;
  }

  #consider {
      font-size: 22px;
      color: darkolivegreen;
  }

  #bold {
      font-style: oblique;
  }

  .parallaxedu6 {
    /* The image used */
    background-image: url(../images_edu/globe.jpg);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  #Wireframes {
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
    background-color: white;
    padding-top: 20px;
  }

  #wires_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    color: darkslategray;
    font-weight: 600;
    font-size: 25px;
  }


  #wires-image {
      padding: 20px 100px;
  }

  #wires-image1 {
    border: 1px solid darkslategrey;
}

#wires-image2 {
  border: 1px solid darkslategrey;
}

#wires-image3 {
  border: 1px solid darkslategrey;
  padding: 5px;
}

  #ed-images {
    margin: 10px 100px;
    padding-left: 60px;
    display: inline-block;
  }

  .parallaxedu7 {
    /* The image used */
    background-image: url(../images_edu/allscreens.png);
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .clearfix1 {
    overflow: auto;
    padding: 20px 120px;
  }

  #mobile-image {
    float: right;
    width: 60%;
    padding: 20px auto;
    padding-left: 80px;
  }
  


  #mobile {
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
    background-color: white;
    padding-top: 20px;
  }

  #mobile_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    color: darkslategray;
    font-weight: 600;
    font-size: 25px;
  }


 #mobile2 {
     display: inline-block;
     padding: 5px 100px;
 }

#cell-image2 {
    margin-left: 80px;
}

  #mobscreens {
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
    background-color: white;
    padding-top: 20px;
  }

  /* #mobscreens_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    color: darkslategray;
    font-weight: 600;
    font-size: 25px;
  } */


  #mobscreens-images {
      padding: 20px 100px;
  }


  #testing {
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
    background-color: white;
    padding-top: 20px;
  }

  #testplan_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    color: darkslategray;
    font-weight: 600;
    font-size: 25px;
  }


  #testplan-image {
    padding: 20px 150px;
    margin-left: 120px;
  }


  #testresults {
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
    background-color: white;
  }

  #results_title {
    text-align: center;
    padding-top: 20px;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    background-color: white;
    color: darkslategray;
    font-weight: 600;
    font-size: 25px;
  }


  #results-image {
    padding: 20px 150px;
    margin-left: 120px;
  }

  ul#resultslist {
    padding: 0 220px !important;
  }

  div.res {
    margin: 0 auto;
    display: flex;
}
  #maze {
    font-family: 'Muli', sans-serif;
    /* background-color: white; */
    padding-bottom: 20px;
    background-color: white;
    padding-top: 20px;
  }

  #maze_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    color: darkslategray;
    font-weight: 600;
    font-size: 25px;
  }


  #maze-image {
    padding: 20px 150px;
    margin-left: 120px;
  }

  .parallaxedu8 {
    /* The image used */
    background-image: url(../images_edu/book-edu.jpg);
  
    /* Set a specific height */
    min-height: 400px; 
   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #links_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    color: darkslategray;
    font-weight: 600;
    font-size: 25px;
  }

/* 
  @media screen and (orientation: portrait) 
  { */

    @media screen and (max-width: 800px) and (min-width: 200px) {
  
  img#newnav-image {
      width: 100% !important;
  }

  img.sitemap-image {
    width: 100% !important;
}

#styleee-image {
  width: 100%;
}

    #heuru-image {
        max-width: 100%;
        padding: 10px 5px;
      }

      #user_image {
        max-width: 100%;
        padding: 10px 5px;
      }

      #whyedutext {
        padding: 20px 20px;
    }

    #task-text {
        padding: 20px 20px;
    }
    
    #task_list{
        margin-right: 40px;
        padding-left: 50px !important;
    }

    #circles_image {
        padding: 10px 20px;
        max-width: 500px;
    }
    #heurutext {
        padding: 20px 20px;
    }
  
    #list_analysis {
      margin-right: 40px;
      padding-left: 50px !important;
    }
    #iatext {
        padding: 20px 20px;
        color: whitesmoke;
    }
    #styletext {
        padding: 20px 20px;
        color: whitesmoke;
    }
    #blue-green {
        padding: 0 20px;
  }


.clearfix {
    padding: 20px 20px;
    }
.clearfix1 {
    padding: 20px 20px;
        }

#ed-images {
 margin: none;
 padding-left: 5px;

    }

    #mobile2 {
        padding: 5px 10px;
    }
    #cell-image2 {
        margin-left: 5px;
    }

    #testplan-image {
        padding: 20px 10px;
        margin-left: none;
    }

    ul#resultslist {
        padding: 50px !important;
    }
    ul {
        margin-right: 40px !important;
    }
    #maze-image {
        padding: 20px 20px;
        margin-left: 40px;
    }
    #next {
        margin: 30px 30px !important;
    }

    .parallaxedu1 {
      background: url("../images_edu/systemic-evaluation.jpg");
      height: 20vh;
      object-fit: cover;
    }

    .parallaxedu3 {
      background: url(../images_edu/test.jpg);
    }

    .parallaxedu2 {
        /* background-attachment: scroll; */
        height: 20vh;
        object-fit: cover;
        background: url("../images_edu/old\ web.png");

  }

  .parallaxedu6 {
    /* The image used */
    background: url(../images_edu/globe.jpg);
  }

  .parallaxedu4 {
    background-attachment: scroll;
    background-size: 120%;
  }

  .parallaxedu5 {
    background-attachment: scroll;
    background-size: 120%;
  }

  .parallaxedu7 {
    background-attachment: scroll;
    background-size: 120%;
  }

  .parallaxedu8 {
    background: url(../images_edu/book-edu.jpg);
    background-size: cover;
  }

  .desktop_image {
    width: 30% !important;
}
}
 
  